[type="checkbox"] + span:not(.lever) {
  height: auto;
  line-height: normal;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="time"],
input[type="email"],
select,
input[disabled],
.Select-input input,
.Select-control,
textarea,
.input {
  @include input;
  @include input-placeholder-font($faded_color);
}
button,
.btn,
.button {
  @include button_style;
}
input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
  }

  &::-webkit-inner-spin-button {
    z-index: 1;
  }

  &::-webkit-clear-button {
    z-index: 1;
  }
}
.input {
  &:not(.browser-default) {
    padding: 0 15px !important;
    line-height: 45px;
    cursor: text;
  }
}
textarea {
  &:not(.browser-default) {
    height: 150px;
    padding: 10px !important;
    line-height: 1.9;
  }
}
.comp_input {
  label {
    display: flex !important;
    flex-direction: column-reverse;
    &.split {
      flex-direction: row-reverse;
      align-items: center;
    }
    > span {
      margin-bottom: 7px;
    }
    > *:not(span) {
      @include input;
      &.rounded {
        border-radius: 50px;
      }
    }
  }
}

input[type="number"],
input[type="date"] {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

select,
.select {
  background-image: url(../images/select-drop.png);
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding-right: 30px !important;
  text-indent: 0.1px;
}
.cust_check {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  transition: 350ms;
  user-select: none;
  cursor: pointer;
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    left: -99999px;
    & + span {
      white-space: nowrap;
      &:after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        top: 0;
        left: 3px;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        transition: 250ms ease-in-out;
        background: $page_bg_color;
        box-shadow: 0 0.1em 0.15em -0.05em rgba(255, 255, 255, 0.9) inset,
          0 0.2em 0.2em -0.12em rgba(0, 0, 0, 0.5);
      }
      &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 16px;
        top: 0;
        margin: auto;
        bottom: 0;
        left: 0;
        border-radius: 15px;
        transition: 250ms ease-in-out;
        background: linear-gradient(
            rgba(0, 0, 0, 0.07),
            rgba(255, 255, 255, 0.1)
          ),
          rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
          0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7);
      }
    }
    &:disabled,
    [disabled] {
      & + span {
        pointer-events: none;
        opacity: 0.5;
      }
    }
    &:checked + span {
      &:before {
        box-shadow: 0 0.08em 0.15em -0.1em rgba(0, 0, 0, 0.5) inset,
          0 0.05em 0.08em -0.01em rgba(255, 255, 255, 0.7),
          0 0 0 15px $dark_base_color inset;
      }
      &:after {
        left: 17px;
      }
    }
  }
}

.form-row {
  width: 100%;
  position: relative;
  &.flexible {
    @include flex;
    @include align-items(center);
    @include respondToBelow(sm) {
      @include flex-wrap;
    }
    label.key {
      width: 30%;
      @include respondToBelow(sm) {
        width: 100%;
      }
    }
    div.val {
      width: 70%;
      @include respondToBelow(sm) {
        width: 100%;
      }
    }
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      @include respondToBelow(sm) {
        width: 100%;
        margin: 0;
      }
      & ~ button {
        margin-left: 15px;
        @include respondToBelow(sm) {
          width: 100%;
          margin-left: 15px;
        }
      }
    }
  }
  &.actions_wrap {
    width: 100% !important;
  }
  &.form-row {
    margin-top: 20px;
  }
  label {
    margin-bottom: 7px;
    &:not(.wb-checkbox) {
      display: block;
    }
    font-size: 1em;
  }
  .form-item {
    padding: 5px;
  }
}
.split_form {
  @include respondToAbove(sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .form-row {
      width: calc(50% - 50px / 2);
      display: block;
      > * {
        width: auto !important;
      }
      .key {
        margin-bottom: $gutter_width_xs;
      }
    }
  }
}
