#header {
  position: fixed;
  left: 0;
  transition: all 0.25s;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 50px;
  height: 70px;
  z-index: 9999;
  color: $black_bg;

  .burgMenu {
    @include respondToAbove(md) {
      display: none;
    }
    position: relative;
    height: 15px;
    width: 15px;
    margin: auto;
    &:before {
      content: "M";
      position: absolute;
      right: calc(100% + 5px);
      font-size: 25px;
      line-height: 1;
      top: -5px;
    }
    &:after {
      content: "NU";
      position: absolute;
      left: calc(100% + 5px);
      font-size: 25px;
      line-height: 1;
      top: -5px;
    }
    span {
      transition: all 0.25s;
      font-size: 0;
      background: #fff;
      display: block;
      height: 2.5px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      &:first-child {
        transform: translateY(-7px);
      }
      &:last-child {
        transform: translateY(7px);
      }
    }
  }
  .logo {
    position: absolute;
    left: 50px;
    top: -5px;
    transform: translateY(-100%);
    transition: all 0.25s;
    transform-origin: top center;
    cursor: pointer;
    img {
      display: block;
      max-width: 75px;
      transform-origin: top center;
      animation: swing 1s infinite alternate ease-in-out;
    }
  }
  .full_logo {
    position: absolute;
    left: 50px;
    top: 10px;
    transform-origin: top center;
    cursor: pointer;
    max-width: 150px;
  }
  ul {
    display: flex;
    li {
      text-transform: uppercase;
      cursor: pointer;
      & ~ li {
        margin-left: 30px;
      }
    }
  }
  &.scrolled {
    background: $black_bg;
    color: #fff;
    @include shadow;
    @include respondToAbove(md) {
      .full_logo {
        display: none;
      }
    }
    .logo {
      transition: all 0.25s 1s;
      animation: bounce 1s cubic-bezier(0.28, 0.84, 0.42, 1);
      transform: translateY(0%);
    }
  }
  @include respondToBelow(sm) {
    top: auto;
    height: 50px;
    bottom: 0;
    color: #fff;
    background: $black_bg;
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(0, 0, 0, 0.4);
    .logo {
      display: none;
    }
    .nav_menu {
      flex-direction: column;
      position: fixed;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.25s;
      right: 0;
      bottom: 50px;
      top: 150px;
      align-items: center;
      padding-top: 50px;
      background: $black_bg;
      li {
        margin: 0;
        font-size: 30px;
      }
    }
    .full_logo {
      flex-direction: column;
      position: fixed;
      left: 0;
      transform: translateX(-100%);
      transition: all 0.25s;
      right: 0;
      height: 150px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $black_bg;
      max-width: none;
      img {
        max-height: 100px;
      }
    }
  }
  &.opened {
    .nav_menu,
    .full_logo {
      transform: translateX(0);
    }
    .burgMenu {
      &:before {
        content: "E";
      }
      &:after {
        content: "IT";
      }
      span {
        left: -3px;
        right: -3px;
        &:first-child {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
@keyframes swing {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-7deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(-100%);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50%);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
