.toasts {
  top: 18px;
  position: fixed;
  right: 25px;
  min-width: 150px;
  z-index: 99999;
  display: flex;
  flex-direction: column-reverse;
  @include respondToBelow(sm) {
    left: 25px;
    top: auto;
    bottom: 25px;
    flex-direction: column;
  }
  .toast {
    align-items: flex-start;
    border-radius: 4px;
    color: #ffffff;
    display: flex;
    animation: flyin 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    & ~ .toast {
      margin-bottom: 15px;
    }
    .toast__content {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      background: rgba(0, 0, 0, 0.85);
      color: #fff;
      padding: 7px 15px;
      border-radius: 15px;
      box-shadow: 0 7px 10px -7px rgba(0, 0, 0, 0.4);
    }
    .toast__dismiss {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      border: 0;
      color: inherit;
      cursor: pointer;
      display: block;
      flex: 0 0 auto;
      font: inherit;
      padding: 0;
    }
    &.info .toast__content {
      background: rgba(33, 150, 243, 0.85);
    }
    &.success .toast__content {
      background: rgba(76, 175, 80, 0.85);
    }
    &.error .toast__content {
      background: rgba(244, 67, 54, 0.85);
    }
    &.warning .toast__content {
      background: rgba(255, 123, 52, 0.85);
    }
    &.primary .toast__content {
      background: rgba(0, 0, 0, 0.85);
    }
  }
}

@keyframes flyin {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
