/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,300i,400,400i,500,500i,600,700,800,900&display=swap&subset=devanagari,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Finger+Paint&display=swap");

html {
  /* Change default typefaces here */
  // font-family: "Roboto", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px !important;
  letter-spacing: 1px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  * {
    box-sizing: border-box;
    line-height: inherit;
  }
}
/* Copy & Lists */
p {
  margin: 0 auto;
}
strong {
  font-weight: 600;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $dark_base_color;
  }
}
ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: 1.5rem;
  margin-bottom: 0;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}
