#lnyrd_page {
  > main {
    > div {
      min-height: 100vh;
      padding: 100px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
#MainSection {
  background: #fff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background: url(../images/Ellipse.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.1;
    left: -150px;
    bottom: -150px;
    pointer-events: none;
  }
  &:after {
    height: 250px;
    width: 250px;
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
    background-position: 75px -75px;
    opacity: 0.2;
  }
  .container {
    .in_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        width: 70%;
        padding: 30px;
        text-align: center;
        img {
          width: 200px;
          display: block;
          margin: 0 auto 50px;
        }
        p {
          font-size: 14px;
        }
      }
      .right {
        width: 30%;
        padding: 30px;
        position: relative;
        .iphone {
          position: absolute;
          left: 22px;
          right: 0;
          top: 22px;
          bottom: 0;
        }
      }
    }
  }
}

#Features {
  background: $black_bg;
  color: #fff;

  .fet_list {
    .fet_item {
      margin-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .im_ttl {
        flex: 1 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        .dif_im {
          width: 40%;
          height: 200px;
          background: rgba(255, 255, 255, 0.2);
        }
        h4 {
          font-size: 25px;
          font-weight: 900;
          text-transform: uppercase;
          width: calc(60% + 50px);
          transform: translateX(50px);
          text-align: right;
          position: relative;
          margin: 0;
        }
      }
      .desc {
        flex: 1 0 0;
        padding: 30px;
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .im_ttl {
          flex-direction: row-reverse;
          h4 {
            transform: translateX(-50px);
            text-align: left;
          }
        }
      }
    }
  }
}

.the_title {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: -100px 0 100px;
  line-height: 0;
  text-shadow: -5px -5px 20px rgba($black_bg, 0.5);
}
#Screens {
  .show {
    display: flex;
    margin: auto;
    max-width: 75%;
    .screen {
      transform: scale(0.8);
      img {
        @include shadow;
        max-width: 100%;
        background: $black_bg;
        border-radius: 15px;
      }
      &.main {
        transform: scale(1);
        padding: 25px 0 0;
        img {
          border-radius: 20px;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: url(../images/iphone.svg) center no-repeat;
          background-size: 100%;
        }
      }
    }
  }
}

#Clients {
  min-height: 50vh !important;
  background: #fff;
  .client_list {
    display: flex;
    .client_item {
      text-align: center;
      padding: 30px;
      img {
        margin-bottom: 25px;
        display: inline-block;
      }
    }
  }
}

#Footer {
  min-height: 0 !important;
  position: relative;
  padding-top: 200px !important;
  padding-bottom: 25px !important;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #fff url(../images/footer_top_bg.svg) top center no-repeat;
    background-size: 100%;
    z-index: 0;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 200px;
    background: $black_bg;
    z-index: 0;
  }
  > .container {
    z-index: 1;
    width: 100%;
  }
  color: #fff;
  .logo_n_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 150px;
    }
    ul {
      li {
        cursor: pointer;
        font-size: 30px;
        & + li {
          margin-left: 25px;
        }
      }
      display: flex;
    }
  }
  .hr {
    margin: 25px 0;
  }
  .foot_note {
    text-align: center;
  }
}
