.expand-panel {
  .panel-header {
    position: relative;
    cursor: pointer;
    display: block;
    text-align: left;
    margin-top: -1px;
    border: 1px solid #ddd;
    border-width: 1px 0;
    > .panel {
      background: #fff !important;
    }
    input {
      position: absolute;
      visibility: hidden;
      left: 0;
      top: 0;
      pointer-events: none;
    }
    .sybicon {
      content: "";
      position: absolute;
      height: 22px;
      width: 22px;
      right: 0;
      color: #5e98e7;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.25s;
      border-radius: 50%;
      background: #fff;
      font-size: 20px;
      line-height: 23px;
    }
  }
  div.panel-body {
    padding: 0 15px;
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-out;
    max-height: 0;
    overflow: auto;
    .panel {
      background: transparent;
    }
  }
  [data-open="true"] {
    ~ div.panel-body {
      padding: 15px;
      max-height: 1000px;
      transition: all 0.25s ease-in;
    }
  }
  .panel {
    font-size: 16px;
    color: #666666;
    padding: 15px;
    display: flex;
    background: #fff;
    .left {
      width: 70%;
      font-size: 14px;
      order: 1;
      > div {
        > *:not(:first-child) {
          margin-left: 7px;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
    .right {
      order: 2;
      margin-right: 0;
      margin-left: auto;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
      > * {
        margin-left: 7px;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
